<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>

</head>

<body>
    <div class="container">
        <form action="" method="POST">
            <h1> ChatGPT </h1>
            <div>
                <textarea name="query" rows="10" col="100"></textarea>
            </div>
            <br>
            <button type="submit">Sumbit</button>
        </form>
        <div class="chat_answers">
            <p>
                <%= chat_input %>
            </p>
        </div>
    </div>


</body>

</html>